<section class="section-1">
    <h3 class="section-1-subtitle">Login App</h3>
    <p>
        Login project made with flask.
    </p>
    <div class="section-1-img">
        <img src="{{ url_for('static', filename='img/Screenshot_52.png') }}" alt="Login-App">
    </div>
</section>
    
<section class="section-2">
    <h3 class="section-2-subtitle">Login</h3>
    <p>
        Secure login.
    </p>
    <div>
        <img src="{{ url_for('static', filename='img/Screenshot_47.png') }}" alt="Login">
    </div>
</section>

<section class="section-3">
    <h3 class="section-3-subtitle">Register</h3>
    <p>
        When you register your data is stored in a secure database.
    </p>
    <div>
        <img src="{{ url_for('static', filename='img/Screenshot_48.png') }}" alt="Register">
    </div>
</section>

<section class="section-4">
    <h3 class="section-4-subtitle">Reset Password</h3>
    <p>
        Recover your password easily and quickly.
    </p>
    <div>
        <img src="{{ url_for('static', filename='img/Screenshot_49.png') }}" alt="Reset Password">
    </div>
</section>