body {
    background: 
        url("/static/img/Screenshot_36.png") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}

.text-center {
    color: white;
    text-align: center;
    font-size: 60px;
    margin-bottom: 40px;
    margin-left: 55px
}

.sentence {
    color: white;
    text-align: center;
}
        
.centered-link {
    background: none;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 15px;
    text-decoration: none;
}

.centered-link:hover {
    background: blue;
    box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
}