body {
    background:
        url("/static/img/Screenshot_36.png") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}

.body-container {
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
    margin: 0;     
}

.text-center {
    color: white;
    text-align: left;
    font-size: 60px;
    margin-bottom: 40px;
    margin-left: 55px
}

.sub-title {
    color: white;
    text-align: center;
    font-size: 35px;
}

.navbar ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-top: -85px;
    position: relative;
}

.link {
    text-decoration: none;
    font-size: 35px;
    color: white;
    margin: 10px 80px;
}

.link:hover {
    color: white;
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
    transition: all 0.3s;
}