body {
    background:
        url("/static/img/Screenshot_36.png") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}

.body-container {
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
    margin: 0;     
}

.text-center {
    color: white;
    text-align: left;
    font-size: 60px;
    margin-bottom: 40px;
    margin-left: 55px
}

.sub-title {
    color: white;
    text-align: center;
    font-size: 35px;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(34, 34, 34, 0.35);
    border-radius: 18px;
    padding: 20px 30px;
    margin: 40px auto;
    position: relative;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.7);
    max-width: 900px;
}

section::after {
    content: "";
    position: absolute;
    top: 0;
    right: -40px;
    width: 80px;
    height: 100%;
    background: inherit;
    border-radius: 0 18px 18px 0;
    z-index: 3;
    transform: skew(-20deg);
    pointer-events: none;
}

section h3 {
    color: white;
    font-size: 28px;
    margin-bottom: 15px;
    flex: 1;
}

section p {
    color: #ddd;
    font-size: 18px;
    line-height: 1.4;
    max-width: 500px;
    flex: 2;
    margin-right: 30px;
}

section > div {
    min-width: 300px;
    max-width: 320px;
    border-radius: 0 18px 18px 0;
    overflow: hidden;
    box-shadow: 0 0 18px #000;
    position: relative;
    z-index: 1;
}

section > div img {
    max-width: 300px;
    height: auto;
    border-radius: 12px;
}